.storeWrapper{
    width: 100%;
    display: flex;
    padding: 40px;
    gap: 0px;
    position: relative;
    
}
.storeFilters{
    background-color: #fff;
    position: sticky;
    top: 20px;
    width: 450px;
    min-height: 700px;
    border-radius: 14px;
    padding: 5px 0 0 20px;
}
.storeFilters label{
    font-size: 34px;
}
.paginationWrapper{
    margin-inline: auto;
}
.storeContent{
    width: 100%;
    padding-left: 80px;
    min-height: 300px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.itemsWrapper{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.titleWrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #232323aa;
    margin-top: 10px;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.titleButton{
    display: block;
    border: none;
    outline: none;
    background-color: none;
    font-size: 16px;
    background: none;
    color: #1976d2;
    margin-top: 5px;
    cursor: pointer;
}
.titleButton:hover{
    color: #232323;
}

.sizesWrapper{
    margin-top: 10px;
    width: 260px;
    height: 60px;
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2323233a;
}

.size{
    display: inline-block;
    width: 56px;
    /* padding: 3px 8px; */
    text-align: center;
    /* padding-top: 6px; */
    border: 1px solid #2323234f;
    border-radius: 6px;
    margin-inline: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    padding-block: 5px;

}
.active{
    display: inline-block;
    width: 56px;
    text-align: center;
    border-radius: 6px;
    margin-inline: 5px;
    padding-block: 5px;
    background-color: rgb(202 48 61);
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    border: none;
    cursor: pointer;
}
.sliderButton{
    margin-top: 5px;
    background-color: transparent;
    border: none;
    font-size: 22px;
       
}
.miniTitle{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 18px;
    font-weight: lighter;

}

.priceSliderWrapper{
    width: 90%;
    margin-top: 10px;
}
.priceSliderWrapper p {
    margin-bottom: 10px;
}
.error{
    width: 100%;
    height: 70vh;
}
.errorTitle{

    display: block;
  
    margin-block: 100px;
    text-align: center;
    font-size: 64px;

}

.errorSmile{
   
    display: block;
    font-size: 64px;
    transform: rotate(90deg) translate(400px) ;
}